server:
  port: 8080

spring:
  application:
    name: concert-finder

  datasource:
    url: jdbc:postgresql://localhost:5432/concert_db
    username: postgres
    password: 9001
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        "[format_sql]": true
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: INFO
    "[com.juliehang.concertfinder]": DEBUG
    "[org.hibernate.SQL]": DEBUG
